.row {
    margin: 0;
}
.movie {
    padding: 20px;
    background-color: #F6F6F5;
    border: 2px solid #ffffff;
}
.left {
    float: left;
    width: 206px;
}
.right {
    margin-left: 226px;
    padding-left: 20px;
}
.movie-header {
    height: 40px;
}
.movie-title {
    font-size: 24px;
    font-weight: 900;
    color: #316CAC;
}
.movie-year {
    color: #999999;
}
.show-less:hover {
    text-decoration: underline;
}